body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
h1 {
    display: inline-block;
    margin: auto;
}
#profilephoto {
    float: right;
}
.project img {
    display: inline-block;
    min-height: 10em;
}
.project {
    padding-top: 1em;
    padding-bottom: 1em;
}
.project-summary {
    float: left;
    padding-bottom: 1em;
}
