body {
  font-family:
    Open Sans,
    Arial;
  color: #454545;
  font-size: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.4;
  height: fit-content;
  width: fit-content;
  /* text-align: justify; */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: #FEFEFE;
}
.last-updated {
  font-size: 0.8em;
  color: #999;
}
.header {
  display: block;
}
.header h1 {
  display: inline-block;
}
.header img {
  float: right;
  display: inline-block;
  max-width: min(calc(20vw), 8em);
  border-radius: 1em;
  margin-left: 1em;
}
.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5em; /* to separate projects */
}
h2 {
  margin-top: 1em; /* to separate from previous section */
  margin-bottom: 0.5em;
}
.project {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em; /* to separate project summary from image */
  max-width: inherit;
  padding: 0.5em;
}
.project.highlight {
  /* light golden color */
  background-color: #ffecb3;
  border-radius: 1em;
}
.project img {
  display: inline-block;
  border-radius: 1em;
  max-width: 10em;
  align-self: center;
}
.project video {
  display: inline-block;
  border-radius: 1em;
  max-width: 10em;
  align-self: center;
}
.project-infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.project-infos h3 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
}
.project-infos p {
}
.project-infos .authors {
  font-size: 70%;
}
.project-infos .venue {
  font-size: 70%;
}
.project-infos .links {
  font-size: 70%;
}
sup {
  vertical-align: top;
  font-size: smaller;
}
